
.navbar{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    font-weight: 500;
    height:30px;
    background-color: rgb(73, 73, 73) !important;
 
}

.fw-500{
    font-weight: 500 !important;
}

 .card-title{
    margin-bottom: 8px;
    padding: 4px;
               
}

.btn{
    border-radius: 3px !important;
}


.task-list-item{
    background-color: #d0cccc;
    border-bottom: 1px solid white;
    height: 40px;
}


.footer{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    text-align : center;
    height:40px;
    background-color: rgb(73, 73, 73) !important;
    color: #d0cccc;
    font-size: large;
    font-style: italic;
}


.completed-task {
    text-decoration: line-through !important;
    color: #999;
}



